{% apply spaceless %}

{#
  Parameters
    - "id" (string) (default: random): Unique id for the quiz item; generated from quiz id or randomized
    - "category" (string) (default: '') (poll variant) Category of the quiz item, eg: 'Geography'
    - "success_category" (string) (default: '') Category to show on the back of the card in case of correct answer, eg: 'Correct'
    - "error_category" (string) (default: '') Category to show on the back of the card in case of incorrect answer, eg: 'Incorrect'
    - "question" (string) (default: '') Question to show on the front of the card
    - "answer" (string) (default: '') Answer to show on the back of the card
    - "answer_title" (string) (default: '') Title for the answer section on the back of the card
    - "correct_label" (string) (default: '') label for sr only about the correct option
    - "correct_chosen_label" (string) (default)  label for sr only about the chosen option when correct
    - "incorrect_label" (string) (default: '') label for sr only about the incorrect option
    - "incorrect_chosen_label" (string) (default: '')  label for sr only about the chosen option when incorrect
    - "esc_box" (string) (default: '')
    - "options" (array) Array of options (poll variant)
      - "name" (string) Name of the option, eg: 'Paris'
      - "correct" (boolean) Whether the option is correct or not
    - "icon" (object) Object of type icon to show on the front of the card
    - "back_icon" (object) Object of type icon to show on the back of the card
    - "flip_text" (string) Helper text (reveal variant)
    - "flip_icon" (object) Object of type icon to show next to the helper text
    - "back_text" (string) Text on the back of the card next to the icon
    - "variant" (string) (default: 'reveal'): Variant of the quiz card ('reveal' or 'poll')
    - "extra_classes" (string) (default: ''): Extra css classes
    - "extra_attributes" (optional) (array) (default: [])
      - "name" (string) Attribute name, eg. 'data-test'
      - "value" (optional) (string) Attribute value, eg: 'data-test-1'
#}

{# Internal properties #}

{% set _id = id|default('ecl-quiz-item-' ~ random()) %}
{% set _category = category|default('') %}
{% set _success_category = success_category|default('') %}
{% set _error_category = error_category|default('') %}
{% set _question = question|default('') %}
{% set _icon = icon|default({}) %}
{% set _back_icon = back_icon|default({}) %}
{% set _esc_box = esc_box|default('') %}
{% set _flip_text =  flip_text|default('') %}
{% set _flip_icon = flip_icon|default('') %}
{% set _back_text = back_text|default('') %}
{% set _correct_label = correct_label|default('') %}
{% set _incorrect_label = incorrect_label|default('') %}
{% set _correct_chosen_label = correct_chosen_label|default('') %}
{% set _incorrect_chosen_label = incorrect_chosen_label|default('') %}
{% set _answer = answer|default('') %}
{% set _name = name|default(_id ~ '-options') %}
{% set _answer_title = answer_title|default('') %}
{% set _options = options|default([]) %}
{% set _variant = variant|default('reveal') %}
{% set _css_class = 'ecl-quiz-card' %}
{% set _extra_attributes = '' %}

{# Internal logic - Process properties #}

{% if extra_classes is defined and extra_classes is not empty %}
  {% set _css_class = _css_class ~ ' ' ~ extra_classes %}
{% endif %}

{% if _correct_chosen_label is not empty %}
  {% set extra_attributes = extra_attributes|default([])|merge([{ name: 'data-ecl-quiz-chosen-option-correct', value: _correct_chosen_label}]) %}
{% endif %}

{% if _incorrect_chosen_label is not empty %}
  {% set extra_attributes = extra_attributes|default([])|merge([{ name: 'data-ecl-quiz-chosen-option-incorrect', value: _incorrect_chosen_label}]) %}
{% endif %}

{% if extra_attributes is defined and extra_attributes is not empty and extra_attributes is iterable %}
  {% for attr in extra_attributes %}
    {% if attr.value is defined %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') ~ '="' ~ attr.value|e('html_attr') ~ '"' %}
    {% else %}
      {% set _extra_attributes = _extra_attributes ~ ' ' ~ attr.name|e('html_attr') %}
    {% endif %}
  {% endfor %}
{% endif %}

<li
  class="{{ _css_class }}"
  id="{{ _id }}"
  {{ _extra_attributes|raw }}
  {% if _variant == 'reveal' %}
    tabindex="0"
    data-ecl-quiz-card-flip
  {% endif %}
>
  <article class="ecl-quiz-card__content">
    <div class="ecl-quiz-card__front">
      <div class="ecl-quiz-card__header">
        <div class="ecl-quiz-card__icon">
          {% include "@ecl/icon/icon.html.twig" with _icon only %}
        </div>
      {% if _category is not empty %}
        <span class="ecl-quiz-card__category">
          {{- _category -}}
        </span>
      {% endif %}
      </div>
    {%  if _variant == 'reveal' %}
      <div class="ecl-quiz-card__question" id="{{ _id }}-question">
        {{- _question -}}
      </div>
    {% endif %}
    {% if _options is not empty %}
      <fieldset
      {%- if _esc_box is not empty %}
        aria-describedby="quiz-{{ _id }}-skip-instructions"
      {%- endif -%}
      >
        <legend class="ecl-quiz-card__question" id="{{ _id }}-question">
          {{- _question -}}
        </legend>
        <ol class="ecl-quiz-card__options" type="A">
        {% for _option in _options %}
          <li class="ecl-quiz-card__option">
            <label class="ecl-quiz-card__label">
              <input
                type="radio"
                data-ecl-quiz-card-flip
                data-ecl-quiz-card-input
                name="{{ _name }}"
                data-match="{{ _option.correct ? "true" : "false" }}"
              >
              {{- _option.name -}}
            </label>
          {%- if loop.first and _esc_box is not empty -%}
            <span
              class="ecl-quiz__skip"
              id="quiz-{{ _id }}-skip-instructions"
            >
              {{- _esc_box -}}
            </span>
          {%- endif -%}
          </li>
        {% endfor %}
        </ol>
      </fieldset>
    {% endif %}
    {% if _flip_text is not empty %}
      <div
        class="ecl-quiz-card__flip"
      >
        {{- _flip_text -}}
        {% include "@ecl/icon/icon.html.twig" with _flip_icon only %}
      </div>
    {% endif %}
    </div>
    <div
      class="ecl-quiz-card__back"
      hidden
      inert
    >
      <div class="ecl-quiz-card__header">
        <div class="ecl-quiz-card__icon">
          {% if _back_icon %}
            {% include "@ecl/icon/icon.html.twig" with _back_icon.success|merge({
              extra_classes: 'ecl-quiz-card__icon--success',
            }) only %}
            {% set _icon = _back_icon.error %}
          {% endif %}
          {% include "@ecl/icon/icon.html.twig" with _icon only %}
        </div>
        {% if _success_category is not empty %}
          <span
            class="ecl-quiz-card__category ecl-quiz-card__category--success"
            tabindex="0"
          >
            {{- _success_category -}}
          </span>
        {% endif %}
        {% if _error_category is not empty %}
          <span
            class="ecl-quiz-card__category ecl-quiz-card__category--error"
            tabindex="0"
          >
            {{- _error_category -}}
          </span>
        {% endif %}
        {% if _variant == 'poll' %}
          <span
            class="ecl-quiz-card__sr-status"
            role="status"
            aria-atomic="true"
          ></span>
        {% endif %}
      </div>
      <div class="ecl-quiz-card__answer" id="{{ _id }}-answer">
      {%- if _answer_title is not empty -%}
        <div class="ecl-quiz-card__answer-title">{{ _answer_title }}</div>
      {%- endif -%}
        {{-  _answer -}}
      </div>
    {% if _options is not empty %}
      <ol class="ecl-quiz-card__options" type="A">
      {% for _option in _options %}
        <li
          class="ecl-quiz-card__option"
          data-match="{{ _option.correct ? "true" : "false" }}"
        >
          <span class="ecl-quiz-card__option-assistive-label">
            {{- _option.correct ? _correct_label : _incorrect_label -}}
          </span>
          {{- _option.name -}}
          <span
            class="ecl-quiz-card__option-icon"
          >
          {% if _option.correct %}
            {% include "@ecl/icon/icon.html.twig" with _back_icon|merge({
              icon: _back_icon.success.icon|merge({ size: 's' }),
              extra_classes: 'ecl-quiz-card__option-icon--success',
            }) only %}
          {% else %}
            {% include "@ecl/icon/icon.html.twig" with _back_icon|merge({
              icon: _back_icon.error.icon|merge({ size: 's' }),
              extra_classes: 'ecl-quiz-card__option-icon--error',
            }) only %}
          {% endif %}
          </span>
        </li>
      {% endfor %}
      </ol>
    {% endif %}
    {% if _back_text is not empty or _flip_icon is not empty %}
      <div class="ecl-quiz-card__flip">
        {{- _back_text -}}
        {% include "@ecl/icon/icon.html.twig" with _flip_icon only %}
      </div>
    {% endif %}
    </div>
  </article>
</li>

{% endapply %}
